// theme color
$primary: #0090ff;
// main background color
$primaryBackground: #f5f6fc;
$primaryText: #3c426b;
$shadowColor: #363636;

// element theme
$--color-primary: $primary;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

// main font color
$mainFontColor:#3c426b;
$mainFontSecondColor: #999;
$mainFontLightColor:#bfcbd9;
$mainFontTitleColor:#24292e;
$mainFontSubTitleColor:#aaa;
$mainStressColor: #e6362b;
$mainFontSelectedColor:$primary;

// main line color
$mainLineColor:#eee;
$mainLineSelectedColor:$primary;

// main font size
$mainFontSize: 14px;
$mainFontSmallSize: 12px;
$mainFontBigSize: 16px;
$mainTitleSize: 18px;
$mainTitleBigSize: 22px;

// main line size
$mainLineSize: 1px;
$mainLineSelectedSize: 4px;

// main box size
$mainPaddingHorizontal: 15px;
$mainPaddingVertical: 20px;
$mainMarginHorizontal: 15px;
$mainMarginVertical: 20px;
$mainBorderWidth: 1px;
$mainBorderRadius: 8px;

// screen size
$screenMD: 719px;
$screenLG: 1200px;