$headerHeight: 60px;

:root {
  --primary-color: #0090ff;
  --secondary-color: #f84b61;
  --tertiary-color: #eaebf3;

  --primary-font-color: #3c426b;
  --secondary-font-color: #5b618b;
  --tertiary-font-color: #9ca3c4;

  --success-color: #22af45;
  --info-color: #607881;
  --error-color: #ca2518;

  --background-color: #f5f6fc;
}

@mixin inject-animation($animationName, $duration) {
  animation: #{$animationName} #{$duration};
  -webkit-animation: #{$animationName} #{$duration};
}

@mixin under-line-effect {
  &:after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: $mainLineSelectedSize;
    background-color: $mainThemeColor;
    opacity: 0;

    @include transition(all 0.5s);
    @include transform(scaleX(0));
    @include border-radius(2px);
  }

  &.active {
    &:after {
      opacity: 1;

      @include transform(scaleX(1));
    }
  }
}

.display-pc-and-pad {
  display: block;
}

.display-phone {
  display: none;
}

.cursor{
  cursor: pointer;
}

.gray{
  color: #abb2c2;
}

.page-container{
  display: flex;
  justify-content: space-between;

  .el-select{
    width: 85px;
  }

  .page-wrapper{
    font-size:14px;
    font-weight:400;
    color:#3C426B;
    line-height: 26px;

    .space{
      padding-right: 30px;
    }

    .symbol{
      width: 100px;
      color: rgba(171, 178, 194, 1);
    }
  }
}

body {
  &::-webkit-scrollbar {
    display: none;
  }

  &.el-popup-parent--hidden {
    padding-right: 0 !important;
  }

  font-size: 14px;
  letter-spacing: 0.6px;
  background-color: var(--background-color);
  color: var(--primary-font-color);
}

.clearfix {
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.el-dialog {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 0 !important;
  background: #fff;
  @include border-radius($mainBorderRadius);

  &__title {
    color: $mainFontLightColor;

    &:after {
      content: "";
      visibility: hidden;
    }
  }

  &__headerbtn {
    top: 12px;
  }

  &__header {
    padding: 0 20px;
    height: 0;
    background-color: #fff;
  }

  &__body {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  &__footer {
    padding-bottom: 16px;
  }
}

a {
  display: inline-block;
  color: $mainFontSelectedColor;
}

.base-container {
  @include relative;
  @include box-sizing;
  width: 100%;
  height: auto;
  font-size: $mainFontSize;
  color: $mainFontColor;
  line-height: 1.4;
}

.app-wrapper {
  @extend .base-container;
  height: 100%;
}

.app-main {
  @extend .base-container;
  height: auto;
  min-height: 100vh;
  padding-top: $headerHeight;
  overflow: hidden;

  &.immersive {
    padding-top: 0;
  }
}

.main-content {
  width: 1200px;
  margin: 0 auto;
}

.language-dropdown {
  .el-dropdown-menu {
    &__item {
      font-size: $mainFontBigSize;
    }
  }
}

.app-header {
  position: fixed;
  z-index: 520;
  width: 100%;
}

div.app-header {
  height: $headerHeight;
  color: var(--secondary-font-color);

  &.hidden {
    display: none;
  }

  >div.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    >div.logo-wrapper {
      display: flex;
      align-items: center;
      cursor: pointer;

      >img {
        display: block;
        width: auto;
        height: 32px;
        object-fit: contain;
        object-position: center;
      }

      >span {
        display: block;
        margin-left: 6px;
      }
    }

    >div.feature-wrapper {
      display: flex;
      align-items: center;
      flex: 1;
      margin-left: 20px;

      div.navigation {
        display: flex;
        align-items: center;
        flex: 1;

        >span {
          display: block;
          cursor: pointer;
          padding: 0 12px;

          &:hover,
          &.selected {
            color: var(--primary-color);
          }
        }

        >.search {
          width: 500px;
          margin-left: 20px;
          border-radius: 30px;
          background-color: var(--background-color);

          .el-input {
            &__inner {
              border: none;
              background: transparent;
            }

            &__icon {
              cursor: pointer;
            }
          }
        }
      }

      >div.language-wrappe {
        display: flex;
        align-items: center;


        >div.chinese {
          color: var(--secondary-font-color);
          font-size: 16px;
          cursor: pointer;

          &.selected {
            color: var(--primary-color);
          }
        }

        >div.english {
          margin-left: 20px;
          color: var(--secondary-font-color);
          font-size: 16px;
          cursor: pointer;

          &.selected {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

div.app-footer {
  background-color: #eaebf5;
  padding: 30px 0;
  font-size: 14px;

  >div.main-content {
    display: flex;
    justify-content: space-between;

    >div.team {
      >div.logo-wrapper {
        display: flex;
        align-items: center;

        >img {
          display: block;
          width: 32px;
          height: 32px;
        }

        >span {
          display: block;
          margin-left: 6px;
          font-size: 16px;
          font-weight: 600;
        }
      }

      >span {
        display: block;
        color: var(--secondary-font-color);
        margin-top: 20px;
      }
    }

    >div.project {
      >span {
        display: block;

        &:nth-of-type(1) {
          font-size: 16px;
          font-weight: 600;
        }

        &:not(:first-of-type) {
          color: var(--secondary-font-color);
          margin-top: 20px;
        }
      }
    }

    >div.blockchain {
      >span {
        display: block;

        &:nth-of-type(1) {
          font-size: 16px;
          font-weight: 600;
        }

        &:not(:first-of-type) {
          color: var(--secondary-font-color);
          margin-top: 20px;
        }
      }
    }

    >div.data {
      >span {
        display: block;

        &:nth-of-type(1) {
          font-size: 16px;
          font-weight: 600;
        }

        &:not(:first-of-type) {
          color: var(--secondary-font-color);
          margin-top: 20px;
        }
      }
    }

    >div.partner {
      >span {
        display: block;

        &:nth-of-type(1) {
          font-size: 16px;
          font-weight: 600;
        }

        &:not(:first-of-type) {
          color: var(--secondary-font-color);
          margin-top: 20px;
        }
      }
    }

    >div.contact-us {
      >span {
        display: block;

        &:nth-of-type(1) {
          font-size: 16px;
          font-weight: 600;
        }

        &:not(:first-of-type) {
          color: var(--secondary-font-color);
          margin-top: 20px;
        }
      }
    }
  }
}

div.home-container {
  @extend .base-container;
  color: $primaryText;
  padding: 20px 0;

  div.display-pc-and-pad {
    >div.map-wrapper {
      width: 100%;
      height: 600px;

      >div#mapChart {}
    }

    >div.statistics {
      width: 100%;
      margin-top: 15px;

      >div.main-content {
        display: flex;
        justify-content: space-between;

        >div.item {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          width: 186px;
          height: 92px;
          background: #fff;
          border-radius: 4px;

          >div.title {
            display: flex;
            align-items: center;
            justify-content: center;

            >span {
              position: relative;
              display: block;
              padding-left: 20px;

              &.en {
                font-size: 12px;
              }

              &:after {
                position: absolute;
                display: block;
                content: "";
                background: var(--primary-color);
                width: 3px;
                height: 14px;
                left: 0;
                top: calc(50% - 14px/2);
              }
            }

            img.el-tooltip {
              margin-left: 6px;
              display: block;
              width: 16px;
              height: 16px;
            }
          }

          >span {
            display: block;
            font-size: 20px;
            color: var(--primary-color);
            text-align: center;
            padding: 0 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 10px;
          }
        }
      }
    }

    >div.charts-wrapper {
      width: 100%;
      margin-top: 15px;

      >div.main-content {
        display: flex;
        justify-content: space-between;

        >div.bar-chart-wrapper {
          width: 794px;
          height: 310px;
          background: #fff;
          border-radius: 4px;

          >div#blockChart {}
        }

        >div.statistics {
          flex: 1;
          padding-left: 16.8px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          >div.item {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 186px;
            height: 92px;
            background: #fff;
            border-radius: 4px;

            >div.title {
              display: flex;
              align-items: center;
              justify-content: center;

              >span {
                position: relative;
                display: block;
                padding-left: 20px;

                &.en {
                  font-size: 12px;
                }

                &:after {
                  position: absolute;
                  display: block;
                  content: "";
                  background: var(--primary-color);
                  width: 3px;
                  height: 14px;
                  left: 0;
                  top: calc(50% - 14px/2);
                }
              }

              img.el-tooltip {
                margin-left: 6px;
                display: block;
                width: 16px;
                height: 16px;
              }
            }

            >span {
              display: block;
              font-size: 20px;
              color: var(--primary-color);
              text-align: center;
              padding: 0 10px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin-top: 10px;
            }
          }
        }
      }
    }

    >div.recent-data {
      width: 100%;
      margin-top: 15px;

      >div.main-content {
        display: flex;

        >div.block-height {
          flex: 1;
          flex-shrink: 0;
          padding: 20px 30px;
          background-color: #fff;
          border-radius: 4px;
          margin-right: 8px;

          >div.header {
            display: flex;
            align-items: center;
            padding-bottom: 20px;

            >span:nth-of-type(1) {
              display: block;
              font-size: 16px;
              font-weight: 600;
            }

            >span:nth-of-type(2) {
              flex: 1;
              display: block;
              color: var(--primary-color);
            }

            >div.more {
              cursor: pointer;
              display: flex;
              align-items: center;

              >span {
                color: var(--secondary-font-color);
              }

              >img {
                display: block;
                width: 16px;
                height: 16px;
                margin-left: 6px;
              }
            }
          }

          >div.body {
            width: 100%;
            height: 480px;
            margin-top: -15px;
            overflow-y: auto;

            >div.block-item {
              position: relative;
              display: flex;
              align-items: center;
              overflow: hidden;
              padding: 20px 30px;
              margin-top: 15px;
              width: 100%;
              border: 1px solid #f5f5f5;
              border-radius: 4px;

              &:after {
                position: absolute;
                display: block;
                content: "";
                background-color: var(--primary-color);
                width: 3px;
                height: 200px;
                left: 0;
                top: calc(50% - 200px/2);
              }

              >div.base-info {
                flex: 1;

                >div.miner {
                  display: flex;
                  align-items: center;

                  >span {
                    display: block;

                    &:nth-of-type(1) {
                      width: 80px;
                    }

                    &:nth-of-type(2) {
                      color: var(--primary-color);
                    }

                    &:nth-of-type(3) {
                      color: var(--tertiary-font-color);
                      margin-left: 30px;
                    }
                  }
                }

                >div.hash {
                  display: flex;
                  align-items: center;
                  margin-top: 12px;

                  >span {
                    display: block;

                    &:nth-of-type(1) {
                      width: 80px;
                    }

                    &:nth-of-type(2) {
                      max-width: 280px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      color: var(--primary-color);
                    }
                  }
                }

                >div.reward {
                  display: flex;
                  align-items: center;
                  margin-top: 12px;

                  >span {
                    display: block;

                    &:nth-of-type(1) {
                      width: 80px;
                    }
                  }
                }
              }

              >div.messages {
                display: flex;
                align-items: center;
                cursor: pointer;
                margin-left: 10px;

                >span {
                  display: block;
                }

                >img {
                  display: block;
                  height: 12px;
                  margin-left: 6px;
                }
              }
            }
          }
        }

        >div.latest-message {
          flex: 1;
          flex-shrink: 0;
          padding: 20px 30px;
          background-color: #fff;
          border-radius: 4px;
          margin-left: 8px;

          >div.header {
            display: flex;
            align-items: center;
            padding-bottom: 20px;

            >span {
              flex: 1;
              display: block;
              font-size: 16px;
              font-weight: 600;
            }

            >div.more {
              cursor: pointer;
              display: flex;
              align-items: center;

              >span {
                color: var(--secondary-font-color);
              }

              >img {
                display: block;
                width: 16px;
                height: 16px;
                margin-left: 6px;
              }
            }
          }

          >div.body {
            width: 100%;
            margin-top: -15px;
            height: 480px;
            overflow-y: auto;

            >div.block-item {
              position: relative;
              display: flex;
              align-items: center;
              padding: 20px 30px;
              margin-top: 15px;
              width: 100%;
              overflow: hidden;
              border: 1px solid #f5f5f5;
              border-radius: 4px;

              &:after {
                position: absolute;
                display: block;
                content: "";
                background-color: var(--primary-color);
                width: 3px;
                height: 200px;
                left: 0;
                top: calc(50% - 200px/2);
              }

              >div.icon-wrapper {
                >img {
                  display: block;
                  width: 20px;
                  height: 16px;
                }
              }

              >div.base-info {
                flex: 1;
                padding-left: 10px;

                >div.address {
                  display: flex;
                  align-items: center;

                  >span {
                    display: block;

                    &:nth-of-type(1) {
                      flex: 1;
                      padding-right: 10px;
                      color: var(--primary-color);
                      max-width: 280px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }

                    &:nth-of-type(2) {
                      &.success {
                        color: var(--success-color);
                      }

                      &.pending {
                        color: var(--info-color);
                      }

                      &.fail {
                        color: var(--error-color);
                      }
                    }

                    &:nth-of-type(3) {
                      color: var(--secondary-font-color);
                      margin-left: 30px;
                    }
                  }
                }

                >div.status {
                  display: flex;
                  align-items: center;
                  margin-top: 12px;

                  >span {
                    display: block;

                    &:nth-of-type(1) {
                      color: var(--primary-font-color);
                    }

                    &:nth-of-type(2) {
                      color: var(--primary-color);
                      margin-left: 6px;
                      max-width: 120px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }

                    &:nth-of-type(3) {
                      color: var(--primary-font-color);
                    }

                    &:nth-of-type(4) {
                      flex: 1;
                      color: var(--primary-color);
                      margin-left: 6px;
                      max-width: 120px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }

                    &:nth-of-type(5) {
                      color: var(--secondary-font-color);
                      max-width: 100px;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      text-align: right;
                    }
                  }

                  >img {
                    display: block;
                    height: 12px;
                    margin: 0 10px;
                  }
                }
              }
            }
          }
        }
      }
    }

    >div.miner-ranking {
      width: 100%;
      margin-top: 15px;

      >div.main-content {
        padding: 20px 30px;
        padding-bottom: 40px;
        background-color: #fff;
        border-radius: 4px;

        >div.title {
          width: 100%;
          display: flex;
          align-items: center;

          div.text-wrapper {
            display: flex;
            align-items: center;
            flex: 1;

            >span {
              font-size: 16px;
              font-weight: 600;
            }

            >img {
              display: block;
              height: 16px;
              margin-left: 6px;
            }
          }


          >div.more {
            cursor: pointer;
            display: flex;
            align-items: center;

            >span {
              display: block;
              color: var(--secondary-font-color);
            }

            >img {
              display: block;
              width: 16px;
              margin-left: 6px;
            }
          }
        }

        >.el-table {
          margin-top: 20px;

          img.ranking-icon {
            height: 24px;
          }

          span.ranking-text {
            display: block;
            text-align: center;
          }

          div.team-warpper {
            display: flex;
            align-items: center;

            img {
              display: block;
              width: 24px;
            }

            span {
              margin-left: 6px;
            }
          }

          .merge-wrapper {
            display: flex;
            align-items: center;

            span {
              display: block;

              &:nth-of-type(2) {
                margin-left: 10px;
                color: var(--tertiary-font-color);
              }
            }
          }
        }
      }
    }
  }
}