$headerHeight: 50px;

.display-pc-and-pad {
  display: none;
}

.display-phone {
  display: block;
}

.root-container {
  @include relative;
  @include box-sizing;
  width: 100%;

  .main-content {
    width: 100%;
  }
}

.main-content {
  width: 100%;
  padding: 0;
}

div.app-header {
  height: $headerHeight;

  &.hidden {
    display: none;
  }

  >div.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;

    >img {
      display: block;
      width: auto;
      height: 24px;
      object-fit: contain;
      object-position: center;
    }

    >div.feature-wrapper {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      >div.language-wrappe {
        display: flex;
        align-items: center;


        >div.chinese {
          color: #999;
          font-size: 14px;

          &.selected {
            color: #fff;
          }
        }

        >div.english {
          margin-left: 20px;
          color: #999;
          font-size: 14px;

          &.selected {
            color: #fff;
          }
        }
      }
    }
  }
}

div.app-footer {
  width: 100%;
  padding: 30px 0;
  background-color: #333;
  letter-spacing: 2px;

  &.hidden {
    display: none;
  }

  >div.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    box-sizing: border-box;
    
    >h4 {
      max-width: 200px;
      color: #fff;
      font-size: 14px;
      text-align: center;
    }

    >div.case-number {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      margin-left: 0;
      margin-top: 20px;

      >a {
        color: #fff;
        font-size: 14px;
      }
    }
  }
}

.app-main {
  padding-top: 0;
}


.base-container-phone {
  @include relative;
  @include box-sizing;
  width: 100%;
  font-size: $mainFontSize;
  color: $mainFontColor;
}

div.home-container {
  @extend .base-container-phone;
  width: 100%;
  padding: 0;
  overflow-x: hidden;

  div.display-phone {
    width: 100%;
    
  }
}